.carousel>.carousel-inner>.carousel-item {
    height: 400px;
}

.carousel>.carousel-inner>.carousel-item {
    height: 100vh;
    width: 100%;
}

.custom-font {
    font-family: "Comic Sans MS";
}

#game-container {
    background-image: url('../images/farmfield.jpg')
}

#scoreboard {
    padding:1rem;
}
#angry-dog-container > img:nth-child(1){
    width:15rem;
    height:15rem;
}
#angry-dog-container > img:nth-child(2){
    width:10rem;
    height:10rem;
}
#win-container img,#lost-container img{
    height:400px;
}
#play-button-container{
    background-image:url('../images/homescreenbg.gif');
    background-repeat:no-repeat;
    background-size:cover;
}
#ram-image{
    width:2rem;
    height:2rem;
    border-radius:100%;
    border:1px solid black;
}
.top{
    padding:1rem;
    background-color: gold;
    color:white;
    text-decoration:none;
}
